signkey: {{ env['SIGN_KEY'] }}
enckey: {{ env['ENC_KEY'] }}
slacktokens:
- {{ env['DSLACK_TOKEN'] }}
- {{ env['ASLACK_TOKEN'] }}
- {{ env['HSLACK_TOKEN'] }}
authurl: https://auth.coolquotes.xyz/auth
acls:
  default:
  - coolquotes
